body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Courier New", Courier,
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, rgb(35, 39, 65) 0%, #97b4f3 100%);
}

button {
  cursor: pointer;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
